html {
  font-size: 10px; 
  font-family: 'Erica One', cursive;
    
}

h1{
    font-size: 60px;
     color: rebeccapurple;  
    text-align: center
        
}

p{ font-size: 13px;
    color: coral ;
    
    
    
}